<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    
    <servlet>
        <servlet-name>CurrenciesServlet</servlet-name>
        <servlet-class>com.example.currencyexchange.controller.CurrenciesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CurrenciesServlet</servlet-name>
        <url-pattern>/currency</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <jsp-file>/WEB-INF/ErrorPage.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ExchangeRatesServlet</servlet-name>
        <servlet-class>com.example.currencyexchange.controller.ExchangeRatesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ExchangeRatesServlet</servlet-name>
        <url-pattern>/exchangeRates</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExchangeOperation</servlet-name>
        <servlet-class>com.example.currencyexchange.controller.ExchangeOperationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExchangeOperation</servlet-name>
        <url-pattern>/exchange</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>ExchangeRatesOperationFilter</filter-name>
        <filter-class>com.example.currencyexchange.filter.ExchangeOperationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ExchangeRatesOperationFilter</filter-name>
        <servlet-name>ExchangeOperation</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>ExchangeRatesFilter</filter-name>
        <filter-class>com.example.currencyexchange.filter.ExchangeRatesFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ExchangeRatesFilter</filter-name>
        <url-pattern>/exchangeRates</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CurrenciesFilter</filter-name>
        <filter-class>com.example.currencyexchange.filter.CurrenciesFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CurrenciesFilter</filter-name>
        <url-pattern>/currency</url-pattern>
    </filter-mapping>
    
    <listener>
        <listener-class>com.example.currencyexchange.config.ServletContextListener</listener-class>
    </listener>

</web-app>